$page.setTitle("城市二级联动")
<html>
<head>
<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
function doDownLoad(fileName){
	$("input[name='fileName']").val(fileName);
	$("#fileForm").submit();
}
</script>
</head>
<body>
	<form id="fileForm" method="post" action="">
		<input type="hidden" name="fileName" />
		<input type="hidden" name="action" value="down_load_fileAction" />
	</form>
	<table>
		<tr>
			<td>文件1</td>
			<td><input type="button" value="下载文件" onclick="doDownLoad('fileName1');" /></td>
		</tr>	
		<tr>
			<td>文件2</td>
			<td><input type="button" value="下载文件" onclick="doDownLoad('fileName2');" /></td>
		</tr>		
	</table>
</body>
</html>